body
{
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}
.book
{
    width: 618px;
    height: 889px;
    border:solid 1px blue;
    margin: 20px;
    position: fixed;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 100p
}
.border {
    width: 100%;
    height: 100%;
    border: 5px solid blueviolet;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
    font-style: italic;
}
.top hr
{
    width: 100%;
    height: 2px;
    background-color: white;
    border: none;
}
.title 
{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
}
.about
{
    
    font-size: 18px;
    color: white;
    margin-top: 30px;

}
.quote
{
    font-size: 18px;
    color: black;
    margin-top: 30px;

}
.form
{
    background-color: cornsilk;
    border-radius: 2px;
}

.img
{
    width: 110px;
    height: 135px;
    margin: 18px;
    border: 2px solid white;
    background-color: white;
}
.aboutauthor
{
    text-align: left;
    font-size: 18px;
    color: black;
    margin-top: 30px;


}
.authorform
{
    background-color: cornsilk;
    border-radius: 0px;
}          
.end
{
    font-size: 18px;
    color: white;
    margin-top: 30px;
}         
.right
{
    margin-right: 60px;
    font-size: 18px;
    color: white;
    

}                                                                                                                                                